<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>747854167859-75jeh9fnao3fl3hqk18j2hgarh7huom0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.747854167859-75jeh9fnao3fl3hqk18j2hgarh7huom0</string>
	<key>API_KEY</key>
	<string>AIzaSyDU6S90GjHvS-DSicRqgLGfOQk1mpWEXBo</string>
	<key>GCM_SENDER_ID</key>
	<string>747854167859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.hardibsalih.Smack</string>
	<key>PROJECT_ID</key>
	<string>chatapp-bf931</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-bf931.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747854167859:ios:0bec80a35d103040a88846</string>
</dict>
</plist>